<div id="<%= dom_id category %>">
  <p>
    <strong>Nombre:</strong>
    <%= category.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= category.descripcion %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= category.tipo %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= category.imagen %>
  </p>

</div>
